<div id="<%= dom_id product %>" class="flex gap-8">
  <%= image_tag product.image.variant(:basic), class: "rounded shadow-sm object-cover h-36 w-72" if product.image.attached? %>

  <div>
    <h2>
      <%= link_to product.name, product %>
    </h2>

    <p>
    <strong>Alt:</strong>
    <%= product.alt %>
    </p>
  </div>
</div>
