<turbo-frame id="<%= dom_id product %>">
  <div class="flex gap-8">
    <%= image_tag product.image.variant(:basic), class: "rounded shadow-sm object-cover h-72 w-128" if product.image.attached? %>

    <div class="flex-grow">
      <%= render "form", product: product %>
    </div>
  </div>
</turbo-frame> 
