<p style="color: green"><%= notice %></p>

<% content_for :title, "Products" %>

<div id="products" class="container flex gap-24 flex-col">
  <% @products.each do |product| %>
    <%= render product %>
  <% end %>
</div>

