<div id="<%= dom_id suggestion %>">
  <p>
    <strong>Suggestion:</strong>
    <%= suggestion.suggestion %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= suggestion.product_id %>
  </p>

</div>
